/*!
 * Ninja Ships! Super-Awesome Spaceship flying "library"
 * Required base styles (and some not so required)
 * v0.1
 */

/* No selection of text! */
body * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

body {
   font-family: sans-serif;
   width: 100%;
 }

body.fixed {
  position: fixed;
  overflow: hidden;
}

body.space {
  background-color: #222;
  background-image: url('graphics/starfield.png');
}

div#debug {
  background-color: white;
  left: 20px;
  padding: 10px;
  position: fixed;
  top: 20px;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
}

.layer0 { z-index: 1; }
.layer1 { z-index: 2; }
.layer2 { z-index: 3; }
.layer3 { z-index: 4; }
.layer4 { z-index: 5; }
.layer5 { z-index: 6; }

.preload { /* required for big sprites! */
  width: 0 !important;
  display: block;
}

/* Connection Window */
#connection-window {
  background-color: #A0A0A0;
  height: 372px;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  top: 50%;
  width: 600px;
  -webkit-box-shadow: 0 0 25px 17px rgba(200, 200, 200, 0.4);
  box-shadow: 0 0 25px 17px rgba(200, 200, 200, 0.4);
}

#connection-window legend {
  font-weight: bold;
  font-family: 'Black Ops One',cursive;
}

#connection-window aside {
  font-family: 'Black Ops One',cursive;
  text-align: center;
  width: 66%;
  margin: -1.4em auto 0.2em auto;
}

#connection-window button {
  font-size: 0.9em;
  font-weight: bold;
  height: 2.5em;
  margin-right: -0.5em;
  margin-top: -0.5em;
  float: right;
}

.window {
  z-index: 100;
  position: fixed;
  padding: 1em;
  background-color: #fff;
  border-radius: 0 1em;
}

#connection-window .ship-select {
  height: 167px;
  margin: 0 auto;
  overflow: auto;
}

#connection-window .selector {
  margin: 1em auto 0;
  overflow: hidden;
  width: 85%;
}

#connection-window .selector ship {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  border-color: #000000;
  border-radius: 0.5em 0.5em 0 0;
  border-style: solid solid none;
  border-width: 1px 1px 0;
  cursor: pointer;
  float: left;
  height: 32px;
  margin: 0.5em 0.5em 0;
  padding: 0.3em;
  width: 32px;
  opacity: 0.5;
}

#connection-window .selector ship:hover {
  background-color: #aaa;
  opacity: 1;
}
#connection-window .selector ship.selected { opacity: 1; }

#connection-window .selector .ship_a.selected { background-color: #FEA940; }
#connection-window .selector .ship_b.selected { background-color: #00B219; }
#connection-window .selector .ship_c.selected { background-color: #A35B5B; }
#connection-window .selector .ship_d.selected { background-color: #D34121; }
#connection-window .selector .ship_e.selected { background-color: #BE5225; }
#connection-window .selector .ship_f.selected { background-color: #14A6F8; }
#connection-window .selector .ship_g.selected { background-color: #1400FF; }

#connection-window fieldset {
  border: 1px solid #ddd;
  border-radius: 1em 0 1em 0;
}

#connection-window h1 {
  margin-top: -0.3em;
  font-family: 'Black Ops One',cursive;
  text-align: center;
}

#connection-window label.ship {
  display: block;
  margin-bottom: 0.5em;
  width: 96%;
  border: 1px solid #aaa;
  border-radius: 1em;
  padding: 0.5em;
  font-size: 0.8em;
}

#connection-window label h4 {
  font-family: 'Black Ops One',cursive;
  font-size: 2em;
  margin: -0.1em 0.2em;
}

#connection-window label ship {
  float: right;
  margin-right: -1.2em;
  margin-top: 2.5em;
  transform: rotate(317deg);
  -webkit-transform: rotate(317deg);
}

#connection-window label input {
  float: right;
}

#connection-window .ship-select label {
  background-color: #fff;
}

#connection-window .ship-select label.selected {
  background: #e0f3fa;
  background: -moz-linear-gradient(13deg,  #e0f3fa 0%, #d8f0fc 43%, #b8e2f6 55%, #b6dffd 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e0f3fa), color-stop(43%,#d8f0fc), color-stop(55%,#b8e2f6), color-stop(100%,#b6dffd));
  background: -webkit-linear-gradient(13deg,  #e0f3fa 0%,#d8f0fc 43%,#b8e2f6 55%,#b6dffd 100%);
  background: -o-linear-gradient(13deg,  #e0f3fa 0%,#d8f0fc 43%,#b8e2f6 55%,#b6dffd 100%);
  background: -ms-linear-gradient(13deg,  #e0f3fa 0%,#d8f0fc 43%,#b8e2f6 55%,#b6dffd 100%);
  background: linear-gradient(13deg,  #e0f3fa 0%,#d8f0fc 43%,#b8e2f6 55%,#b6dffd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=1 );
}

.ship-select table {
  border-collapse: collapse;
  width: 85%;
}

.ship-select table th {
  border-bottom: 2px solid #aaa;
}

.ship-select table td {
  border-bottom: 1px solid #aaa;
}

.ship-select table td.spacer {
  border: 0 none;
  width: 1.7em;
}

.disconnected {
  font-weight: bold;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  top: 50%;
  width: 200px;
  background-color:darkred;
  color: white;
  border-color: red;
  z-index: 1000;
}

/* Players Window */
#players {
  background-color: rgba(22, 22, 22, 0.5);
  border: 1px solid #444444;
  border-radius: 1em 1em 1em 1em;
  color: #AAAAFF;
  font-family: monospace;
  font-size: 14px;
  padding: 1em;
  right: 1em;
  top: 1em;
  width: 200px;
}

#players h3 {
  border-bottom: 1px solid #2D918B;
  margin-top: 0;
  color: #005bce;
  margin-bottom: 0.2em;
}

#players ship {
  float: left;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  margin-right: 0.5em;
}

#players player {
  height: 0.8em;
  position: relative;
  display: block;
  margin-top: 0.5em;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#players player label, #players player .score, #players player ship {
  display: block;
  float: left;
}

#players player label {
  max-width: 7.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#players player .score {
  margin-right: 0.25em;
  width: 52px;
  overflow: hidden;
}

#players player .compass {
  margin-right: 0.3em;
  position: absolute;
  right: 0;
  top: 0.1em;
}

#players player .arrow {
  border-bottom: 16px solid #FF0000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  float: right;
  height: 0;
  width: 0;
}

#players player .arrow.gray { /* Proximity colors (Thanks d@n!) */
  border-bottom-color: gray;
}
#players player .arrow.green {
  border-bottom-color: green;
}
#players player .arrow.blue {
  border-bottom-color: #005bce;
}
#players player .arrow.orange {
  border-bottom-color: orange;
}

#players player .arrow.dead { /* Show a diamond for dead players */
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: gray;
  position: relative;
  top: -8px;
  margin-right: -2px;
}
#players player .arrow.dead:after {
	content: '';
	position: absolute;
	left: -8px;
	top: 8px;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-top-color: gray;
}


@keyframes arrow-flash {
  0%   { border-bottom-color: red; }
  10%  { border-bottom-color: #FFF; }
  100%  { border-bottom-color: red; }
}

@-webkit-keyframes arrow-flash {
  0%   { border-bottom-color: red; }
  10%  { border-bottom-color: #FFF; }
  100%  { border-bottom-color: red; }
}

#players player .arrow.red {
  border-bottom-color: red;

  animation-name: arrow-flash;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

  -webkit-animation-name: arrow-flash;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
}

#players player .circle {
  border: 6px solid #00FF00;
  border-radius: 6px;
  float: right;
  height: 0;
  width: 0;
}


/* Chat Windows */
.chat {
  bottom: 1em;
  left: 1em;
  width: 70%;
  background-color: rgba(0, 0, 25, 0.5);
  border: 1px solid #444444;
  border-radius: 0em 1em;
  color: #FFF;
  font-family: monospace;
  font-size: 16px;
  padding: 1em;
}

.chat ol {
  display: block;
  height: 90%;
  list-style: none outside none;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

.chat li {
  font-size: 1.2em;
  color: #6CE26C;
}

.chat li span {
  display: -moz-box; /* TODO: Find another way! */
  font-weight: bold;
  max-width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat li.sys {
  color: red;
}

.chat li.self {
  color: yellow;
}

#chat-main {
  height: 80%;
}

#chat-main input {
  background: none repeat scroll 0 0 transparent;
  border-color: #444444 -moz-use-text-color;
  border-image: none;
  border-style: solid none;
  border-width: 1px 0;
  bottom: 0.5em;
  color: #AAFFFF;
  font-family: monospace;
  font-size: 1.1em;
  height: 35px;
  position: absolute;
  width: 96%;
}

#chat-notify {
  min-height: 22px;
}

#chat-notify ol {
  height: auto;
  overflow: auto;
}

/* SHIPS */
ship {
  display: block;
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
}

label.username {
  white-space: nowrap;
  background-color: rgba(33, 33, 33, 0.8);
  color: green;
  font-family: monospace;
  font-size: 11px;
  font-weight: bolder;
  margin-top: -1.5em;
  padding: 0 0.5em;
}

/** Keyframes for flash animation **/
@keyframes flash-green {
  0%   { background-color: green; }
  10%  { background-color: #FFF; }
  100%  { background-color: green; }
}

@keyframes flash-orange {
  0%   { background-color: orange; }
  10%  { background-color: #FFF; }
  100%  { background-color: orange; }
}

@keyframes flash-red {
  0%   { background-color: red; }
  10%  { background-color: #FFF; }
  100%  { background-color: red; }
}

@-webkit-keyframes flash-green {
  0%   { background-color: green; }
  10%  { background-color: #FFF; }
  100%  { background-color: green; }
}

@-webkit-keyframes flash-orange {
  0%   { background-color: orange; }
  10%  { background-color: #FFF; }
  100%  { background-color: orange; }
}

@-webkit-keyframes flash-red {
  0%   { background-color: red; }
  10%  { background-color: #FFF; }
  100%  { background-color: red; }
}


label.username:before { /* Shield Status (label hack) */
  background-color: green;
  content: "";
  display: block;
  height: 5px;
  margin-left: -6px;
  margin-top: -5px;
  width: 100%;
  padding-right: 11px; /* Make up for padding in parent */
}

label.username.flash-green:before {
  animation-name: flash-green;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;

  -webkit-animation-name: flash-green;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
}

label.username.flash-orange:before {
  animation-name: flash-orange;
  animation-duration: 300ms;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;

  -webkit-animation-name: flash-orange;
  -webkit-animation-duration: 300ms;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-out;
}

label.username.flash-red:before {
  animation-name: flash-red;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

  -webkit-animation-name: flash-red;
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
}

/** No way to set pseudo :before with JS, so these classes will have to do **/
label.username.shield-0:before{padding-right:0;background-color:red;width:0%}
label.username.shield-5:before{padding-right:1px;background-color:red;width:5%}
label.username.shield-10:before{padding-right:1px;background-color:red;width:10%}
label.username.shield-15:before{padding-right:2px;background-color:red;width:15%}
label.username.shield-20:before{padding-right:2px;background-color:red;width:20%}
label.username.shield-25:before{padding-right:3px;background-color:red;width:25%}
label.username.shield-30:before{padding-right:3px;background-color:red;width:30%}
label.username.shield-35:before{padding-right:5px;background-color:orange;width:35%}
label.username.shield-40:before{padding-right:5px;background-color:orange;width:40%}
label.username.shield-45:before{padding-right:7px;background-color:orange;width:45%}
label.username.shield-50:before{padding-right:7px;background-color:orange;width:50%}
label.username.shield-55:before{padding-right:9px;background-color:orange;width:55%}
label.username.shield-60:before{padding-right:9px;background-color:orange;width:60%}
label.username.shield-65:before{width:65%}label.username.shield-70:before{width:70%}
label.username.shield-75:before{width:75%}label.username.shield-80:before{width:80%}
label.username.shield-85:before{width:85%}label.username.shield-90:before{width:90%}
label.username.shield-95:before{width:95%}label.username.shield-100:before{width:100%}


/** Keyframes for opacity pulse animation **/
@keyframes pulse {
  0%   { opacity: 0; width: 90px; height:90px; background-size: 90px 90px; margin-left: -12px; margin-top: 3px;}
  10%  { opacity: 1; width: 120px; height:120px; background-size: 120px 120px; margin-left: -27px; margin-top: -12px;}
  40%  { opacity: 1; width: 120px; height:120px; background-size: 120px 120px; margin-left: -27px; margin-top: -12px;}
  100%  { opacity: 0; width: 90px; height:90px; background-size: 90px 90px; margin-left: -12px; margin-top: 3px;}
}

@-webkit-keyframes pulse {
  0%   { opacity: 0; width: 90px; height:90px; background-size: 90px 90px; margin-left: -12px; margin-top: 3px;}
  10%  { opacity: 1; width: 120px; height:120px; background-size: 120px 120px; margin-left: -27px; margin-top: -12px;}
  40%  { opacity: 1; width: 120px; height:120px; background-size: 120px 120px; margin-left: -27px; margin-top: -12px;}
  100%  { opacity: 0; width: 90px; height:90px; background-size: 90px 90px; margin-left: -12px; margin-top: 3px;}
}

label.username:after { /* Shields! Hacked into the label */
  background-color: transparent;
  background-image: url("graphics/shields/shield_red.png");
  background-size: 90px 90px;
  content: "";
  display: block;
  height: 90px;
  left: 0;
  margin-left: -12px;
  margin-top: 3px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 90px;
}

label.username.style-blue:after {background-image: url("graphics/shields/shield_blue.png");}
label.username.style-green:after {background-image: url("graphics/shields/shield_green.png");}
label.username.style-orange:after {background-image: url("graphics/shields/shield_orange.png");}
label.username.style-pink:after {background-image: url("graphics/shields/shield_pink.png");}
label.username.style-purple:after {background-image: url("graphics/shields/shield_purple.png");}
label.username.style-yellow:after {background-image: url("graphics/shields/shield_yellow.png");}

label.username.pulse:after {
  animation-name: pulse;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;

  -webkit-animation-name: pulse;
  -webkit-animation-duration: 400ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
}

boom, #preload-boom {
  display: block;
  width: 400px;
  height: 400px;
  background-image: url('graphics/explosions/ship_boom.png');
}

.ipad boom, .ipad #preload-boom {
  width: 256px;
  height: 256px;
  background-image: url('graphics/explosions/explosion_wide.png');
}

boom.mine, #preload-boom-mine {
  display: block;
  width: 128px;
  height: 128px;
  background-image: url('graphics/explosions/mine_boom.png');
}

ship.ship_a { background-image: url('graphics/ships/ship_a.png'); }
ship.ship_b { background-image: url('graphics/ships/ship_b.png'); }
ship.ship_c { background-image: url('graphics/ships/ship_c.png'); }
ship.ship_d { background-image: url('graphics/ships/ship_d.png'); }
ship.ship_e { background-image: url('graphics/ships/ship_e.png'); }
ship.ship_f { background-image: url('graphics/ships/ship_f.png'); }
ship.ship_g { background-image: url('graphics/ships/ship_g.png'); }

/* Forward thrust */
ship.thrusting:before, ship.thrusting:after {
  content: url("graphics/flame_down.gif");
  position: relative;
  top: 60px;
}

ship.ship_a.thrusting:before { left: 12px; }
ship.ship_a.thrusting:after { left: 2px; }

ship.ship_b.thrusting:before { left: 3px; }
ship.ship_b.thrusting:after { left: 9px; }

ship.ship_c.thrusting:before { left: 9px; top: 59px; }
ship.ship_c.thrusting:after { left: 4px; top: 59px; }

ship.ship_d.thrusting:before { left: 4px; top: 62px; }
ship.ship_d.thrusting:after { left: 8px; top: 62px; }

ship.ship_e.thrusting:before { left: 9px; }
ship.ship_e.thrusting:after { left: 4px; }

ship.ship_f.thrusting:before { left: 8px; top: 62px; }
ship.ship_f.thrusting:after { left: 3px; top: 62px; }

ship.ship_g.thrusting:before { left: 18px; top: 62px; }
ship.ship_g.thrusting:after { left: -8px; top: 55px; }

/* Backward thrust */
ship.thrusting_back:before, ship.thrusting_back:after {
  content: url("graphics/flame_up.gif");
  position: relative;
}

ship.ship_a.thrusting_back:before { left: -4px; top: -6px; }
ship.ship_a.thrusting_back:after { left: 19px; top: -6px; }

ship.ship_b.thrusting_back:before { left: 3px; }
ship.ship_b.thrusting_back:after { left: 8px; }

ship.ship_c.thrusting_back:before { left: -4px; top: 17px; }
ship.ship_c.thrusting_back:after { left: 13px; top: 17px; }

ship.ship_d.thrusting_back:before { left: -1px; top: 2px; }
ship.ship_d.thrusting_back:after { left: 12px; top: 2px; }

ship.ship_e.thrusting_back:before { left: -1px; }
ship.ship_e.thrusting_back:after { left: 13px; }

ship.ship_f.thrusting_back:before { left: 12px; top: -23px; }
ship.ship_f.thrusting_back:after { left: 0px; top: -23px; }

ship.ship_g.thrusting_back:before { left: 0px; top: 13px; }
ship.ship_g.thrusting_back:after { left: 11px; top: 13px; }


/* Ship Beacon/Spawn Point */
beacon {
  transform: rotate(45deg) skew(12deg, 12deg);
  height: 40px !important;
  width: 40px !important;
  display: none;
  border-width: 9px;
  border-style: solid;
  box-sizing: border-box;
  animation: diamond-spin 3s infinite linear;
}

beacon.style-blue {background-color: blue; border-color: DarkBlue;}
beacon.style-green {background-color: green; border-color: SpringGreen;}
beacon.style-orange {background-color: orange; border-color: OrangeRed;}
beacon.style-pink {background-color: magenta; border-color: MediumPurple;}
beacon.style-purple {background-color: purple; border-color: BlueViolet;}
beacon.style-red {background-color: red; border-color: FireBrick;}
beacon.style-yellow {background-color: yellow; border-color: orange;}

@keyframes diamond-spin {
  from {
    transform: rotateY(0deg) rotate(45deg) skew(12deg, 12deg);
  }
  to {
    transform: rotateY(360deg) rotate(45deg) skew(12deg, 12deg);
  }
}

/* Projectiles! */

/* keyframes for spinning energy animation;  simple 0 to 360 */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
projectile.init {
  display: none;
  top: 50px;
}

projectile.laser {
  height: 70px;
  width: 5px;
  border-radius: 5px;
  background-color:#FFF;
}

projectile.duallaser {
  height: 50px;
  width: 25px !important;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-radius: 3px;
  background-color: transparent !important;
}

projectile.biglaser {
  height: 70px;
  width: 8px;
  border-radius: 8px;
  background-color:#FFF;
}

projectile.energy {
  height: 64px !important;
  width: 64px !important;
  background-size: 64px 64px;
  background-image: url('graphics/projectiles/energy_orb_red.gif');
  background-color: transparent !important;

  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

projectile.energy.blue {background-image: url('graphics/projectiles/energy_orb_blue.gif');}
projectile.energy.green {background-image: url('graphics/projectiles/energy_orb_green.gif');}
projectile.energy.orange {background-image: url('graphics/projectiles/energy_orb_orange.gif');}
projectile.energy.pink {background-image: url('graphics/projectiles/energy_orb_pink.gif');}
projectile.energy.purple {background-image: url('graphics/projectiles/energy_orb_purple.gif');}
projectile.energy.yellow {background-image: url('graphics/projectiles/energy_orb_yellow.gif');}

projectile.mine {
  background-color: transparent !important;
  background-image: url("graphics/projectiles/mine_red.gif");
  background-size: 40px 40px;
  border-radius: 6px 0 6px 0;
  height: 40px !important;
  width: 40px !important;
}

projectile.mine.blue { background-image: url("graphics/projectiles/mine_blue.gif"); }
projectile.mine.green { background-image: url("graphics/projectiles/mine_green.gif"); }
projectile.mine.orange { background-image: url("graphics/projectiles/mine_orange.gif"); }
projectile.mine.pink { background-image: url("graphics/projectiles/mine_pink.gif"); }
projectile.mine.purple { background-image: url("graphics/projectiles/mine_purple.gif"); }
projectile.mine.yellow { background-image: url("graphics/projectiles/mine_yellow.gif"); }


projectile.blue {background-color: blue; border-color: blue;}
projectile.green {background-color: green; border-color: green;}
projectile.orange {background-color: orange; border-color: orange;}
projectile.pink {background-color: magenta; border-color: magenta;}
projectile.purple {background-color: purple; border-color: purple;}
projectile.red {background-color: red; border-color: red;}
projectile.yellow {background-color: yellow; border-color: yellow;}

projectile.fire {
  height: 64px !important;
  width: 64px !important;
  background-size: 64px 64px;
  background-image: url('graphics/projectiles/fire.png');
  background-color: transparent !important;

  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

/** Power-ups effects! **/
powerup {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 40px;
  border-width: 3px;
  content: "&nbsp;";
  background-color: white;
  border-color: #c8e1e1;
  border-style: solid;
  color: #000;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

/* GHOST Powerup */
powerup.ghost:before {
  content: "G";
}

powerup.ghost {
  background-color: cornflowerblue;
  border-color: blue;
}


/* Ship Ghost mode effect */
.self.ghost-active {
  animation-name: ghost;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  -webkit-animation-name: ghost;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.other.ghost-active {
  opacity: 0.15;
}

/* Keyframes for ghost opacity pulse animation */
@keyframes ghost {
  0%   { opacity: 0.5; }
  50%  { opacity: 0.3; }
  100%  { opacity: 0.5; }
}

@-webkit-keyframes ghost {
  0%   { opacity: 0.5; }
  50%  { opacity: 0.3; }
  100%  { opacity: 0.5; }
}


/* TRIPLE Powerup */
powerup.triple:before {
  content: "T";
  color: #fff;
}

powerup.triple {
  background-color: rosybrown;
  border-color: red;
}

/* Celestial objects: Permanent natural body in the sky, or PNBITS */
pnbits {
  display: block;
}

pnbits.planet_a { background-image: url("graphics/pnbits/planet_a.gif"); }
pnbits.planet_b { background-image: url("graphics/pnbits/planet_b.gif"); }
pnbits.planet_c { background-image: url("graphics/pnbits/planet_c.gif"); }
pnbits.planet_d { background-image: url("graphics/pnbits/planet_d.gif"); }


/** MINIMAP **/

#map-wrapper {
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 115px;
  border: 16px inset #1C6EA4;
  box-sizing: border-box;
  background-image: url('graphics/grid.png');
  backdrop-filter: blur(5px);
  background-color: rgba(150, 255, 151, 0.6);

}

#map {
  position: absolute;
  left: 0;
  top: 0;
}

#map .map_ship {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: none;
  border-radius: 12px 0 12px 12px;
  /* border: 1px solid; */
  background-color: red;
  /* outline: 3px dashed #fff; */
}

#map .map_pnbits {
  position: absolute;
  background-size: cover;
}

#map projectile.map_mine {
  position: absolute;
  background-size: cover;
  width: 15px !important;
  height: 15px !important;
}

#map .map_ship.self {
  background-color: #00F;
}

#map-controls {
  position: fixed;
  font-size: 1.2em;
  bottom: 0;
  right: 7px;
  z-index: 140;
}

#map-controls label {
  background-color: brown;
  color: white;
  position: absolute;
  right: 65px;
  bottom: 0;
  padding: 3px;
  display: inline-block;
  width: 43px;
  text-align: center;
  border-radius: 22px;
}

#map-controls span {
  background-color: white;
  display: inline-block;
  border-radius: 29px;
  width: 22px;
  text-align: center;
  border: 7px inset #FF6EA4;
  margin-left: 107px;
  cursor: pointer;
}
