body {
  margin: 0;
  padding: 0;
  background-color: black;
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  font-family: 'Pixelify Sans', sans-serif;
}

#stage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h2,
h3,
h4 {
  font-family: 'Black Ops One', sans-serif;
  text-transform: lowercase;
  text-align: center;
}

h3.subhed {
  position: absolute;
  top: -9px;
  right: 0;
  width: 300px;
  line-height: 17px;
  font-size: 15px;
}

@media (max-width: 600px) {
  h3.subhed {
    font-size: 10px;
    width: 136px;
    line-height: 10px;
    text-align: right;
    padding-right: 6px;
    top: 0;
  }
}

ninja-chat {
  z-index: 1;
  width: 70%;
}
